/******************************************
* PHP/public_html/style.css
* @author apedroza6@cnm.edu
*******************************************/

/***
* Flexbox Sticky Footer
* http://apedroza6.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}
/******************************************
* Global Styles
*******************************************/
body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
{
h1:
h3;
font-family: 'Prata', 'Times New Roman', Times, serif;
}

/******************************************
* Navbar Styles
*******************************************/
nav.navbar {
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}

/******************************************
* Background Styles
*******************************************/
body {
	background: no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

.sfooter-content {
	background-color: rgb(255, 254, 17);
}

.navbar-brand {
	font-family: 'Prata', 'Times New Roman', Times, serif;
}

.navbar-default {
	background-color: white;
}

/* custom navbar-inverse overrides*/
.navbar-inverse .navbar-brand {
	color: #fffe11;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
	color: #fffe11;
}

	nav.navbar {
		padding: 2em 0;
	}


	.navbar-brand {
		font-size: 3rem;
	}

	ul.nav.navbar-nav.navbar-right {
		border-bottom: 1px solid rgba(255,255,255,0.25);
	}
